body{
    background-color: black;
    color: brown;
}

fieldset {
    margin: 20% 1%;
}

p {
    font-weight: bold;
    font-size: large;
    margin: 5px 0 0 0;
    text-align: left;
}

input {
    margin-top: 5px;
    float:inline-start;
}

#button:hover {
    background-color: brown;
}