body{
    background-color: black;
}

fieldset {
    margin: 20% 1%;
}

label {
    color: brown;
}

p {
    color: brown;
    font-weight: bold;
    font-size: large;
    margin: 5px 0 0 0;
}

input {
    margin-top: 5px;
}

#button:hover {
    background-color: brown;
}