/*Añade aquí la fuente "Lato" de Google Fonts con @import*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body {
    /*establece la fuente Lato para todos los elementos*/
    font-family: 'UnifrakturMaguntia';
}

nav ul {
    /*Asegúrate de que tenga un margen y un relleno de 0 y que su lista de estilos sea none*/
    margin: 0;
    padding: 0;
    border-style: none;
}

/*Selector los enlaces */
nav ul li a {
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 5px;
    border-right: 1px solid #993333;
    display: block;
}

/*Selector. los elementos de menu superior, en horizontal */
nav ul li {
    float: left;
}

nav ul a:hover {
    background-color: #993333;
    color: black;
}

li:last-child a {
    /*ocultar borde derecho*/
    border-right: hidden;

}

ul.menu {
    width: 140px;
    list-style-type: none;
    /* Borde de 1px con el color #FFC83D*/
    border-style: solid;
    border-width: 1px;
    border-color: #62605b;
    /* sin margen ni relleno */
    margin: 0;
    padding: 0;
}

ul.menu>li {
    border-bottom: 1px solid #62605b;
}

ul.menu>li:last-child {
    border-bottom: none;
}

/* selector los enlaces del menu vertical*/
.menu a{
    text-align: center;
    display: block;
    /*centrar el texto, no mostrar subrayado 
    y tener un color de texto de #333. Además, 
    debe tener un relleno de 5px y un fondo 
    de color #E5F3FE.*/
    color: #333;
    text-decoration: none;
    padding: 5px;
    background-color: #fee5e5;
}

ul.menu li a:hover {
    /*fondo color #c8e2f7*/
    background-color: #f7c8c8;
}

.menu > li > a::before {
    content: "🩸 ";
}